<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>simple</key>
		<string>arise</string>
		<key>past</key>
		<string>arose</string>
		<key>participle</key>
		<string>arisen</string>
		<key>translation</key>
		<string>Surgir, Levantarse</string>
	</dict>
	<dict>
		<key>simple</key>
		<string>awake</string>
		<key>past</key>
		<string>awoke</string>
		<key>participle</key>
		<string>awoken</string>
		<key>translation</key>
		<string>despertarse</string>
	</dict>
	<dict>
		<key>simple</key>
		<string>be/am, are, is</string>
		<key>past</key>
		<string>was/were</string>
		<key>participle</key>
		<string>been</string>
		<key>translation</key>
		<string>ser/estar</string>
	</dict>
	<dict>
		<key>simple</key>
		<string>bear</string>
		<key>past</key>
		<string>bore</string>
		<key>participle</key>
		<string>born/born</string>
		<key>translation</key>
		<string>soportar/dar a luz</string>
	</dict>
	<dict>
		<key>simple</key>
		<string>beat</string>
		<key>past</key>
		<string>beat</string>
		<key>participle</key>
		<string>beaten</string>
		<key>translation</key>
		<string>golpear</string>
	</dict>
	<dict>
		<key>simple</key>
		<string>become</string>
		<key>past</key>
		<string>became</string>
		<key>participle</key>
		<string>become</string>
		<key>translation</key>
		<string>llegar a ser</string>
	</dict>
	<dict>
		<key>simple</key>
		<string>begin</string>
		<key>past</key>
		<string>began</string>
		<key>participle</key>
		<string>begun</string>
		<key>translation</key>
		<string>Empezar</string>
	</dict>
	<dict>
		<key>simple</key>
		<string>Bend</string>
		<key>past</key>
		<string>Bent</string>
		<key>participle</key>
		<string>Bent</string>
		<key>translation</key>
		<string>doblar</string>
	</dict>
	<dict>
		<key>simple</key>
		<string>bet</string>
		<key>past</key>
		<string>bet</string>
		<key>participle</key>
		<string>bet</string>
		<key>translation</key>
		<string>apostar</string>
	</dict>
	<dict>
		<key>simple</key>
		<string>bind</string>
		<key>past</key>
		<string>bound</string>
		<key>participle</key>
		<string>bound</string>
		<key>translation</key>
		<string>atar/encuadernar</string>
	</dict>
	<dict>
		<key>simple</key>
		<string>bid</string>
		<key>past</key>
		<string>bid</string>
		<key>participle</key>
		<string>bid</string>
		<key>translation</key>
		<string>pujar</string>
	</dict>
	<dict>
		<key>simple</key>
		<string>bite</string>
		<key>past</key>
		<string>bit</string>
		<key>participle</key>
		<string>bitten</string>
		<key>translation</key>
		<string>morder</string>
	</dict>
	<dict>
		<key>simple</key>
		<string>bleed</string>
		<key>past</key>
		<string>bled</string>
		<key>participle</key>
		<string>bled</string>
		<key>translation</key>
		<string>sangrar</string>
	</dict>
	<dict>
		<key>simple</key>
		<string>bid</string>
		<key>past</key>
		<string>bid</string>
		<key>participle</key>
		<string>bid</string>
		<key>translation</key>
		<string>pujar</string>
	</dict>
	<dict>
		<key>simple</key>
		<string>bid</string>
		<key>past</key>
		<string>bid</string>
		<key>participle</key>
		<string>bid</string>
		<key>translation</key>
		<string>pujar</string>
	</dict>
	<dict>
		<key>simple</key>
		<string>bid</string>
		<key>past</key>
		<string>bid</string>
		<key>participle</key>
		<string>bid</string>
		<key>translation</key>
		<string>pujar</string>
	</dict>
	<dict>
		<key>simple</key>
		<string>bid</string>
		<key>past</key>
		<string>bid</string>
		<key>participle</key>
		<string>bid</string>
		<key>translation</key>
		<string>pujar</string>
	</dict>
	<dict>
		<key>simple</key>
		<string>bid</string>
		<key>past</key>
		<string>bid</string>
		<key>participle</key>
		<string>bid</string>
		<key>translation</key>
		<string>pujar</string>
	</dict>
	<dict>
		<key>simple</key>
		<string>bid</string>
		<key>past</key>
		<string>bid</string>
		<key>participle</key>
		<string>bid</string>
		<key>translation</key>
		<string>pujar</string>
	</dict>
	<dict>
		<key>simple</key>
		<string>bid</string>
		<key>past</key>
		<string>bid</string>
		<key>participle</key>
		<string>bid</string>
		<key>translation</key>
		<string>pujar</string>
	</dict>
	<dict>
		<key>simple</key>
		<string>bid</string>
		<key>past</key>
		<string>bid</string>
		<key>participle</key>
		<string>bid</string>
		<key>translation</key>
		<string>pujar</string>
	</dict>
	<dict>
		<key>simple</key>
		<string>bid</string>
		<key>past</key>
		<string>bid</string>
		<key>participle</key>
		<string>bid</string>
		<key>translation</key>
		<string>pujar</string>
	</dict>
	<dict>
		<key>simple</key>
		<string>bid</string>
		<key>past</key>
		<string>bid</string>
		<key>participle</key>
		<string>bid</string>
		<key>translation</key>
		<string>pujar</string>
	</dict>
	<dict>
		<key>simple</key>
		<string>bid</string>
		<key>past</key>
		<string>bid</string>
		<key>participle</key>
		<string>bid</string>
		<key>translation</key>
		<string>pujar</string>
	</dict>
	<dict>
		<key>simple</key>
		<string>bid</string>
		<key>past</key>
		<string>bid</string>
		<key>participle</key>
		<string>bid</string>
		<key>translation</key>
		<string>pujar</string>
	</dict>
	<dict>
		<key>simple</key>
		<string>bid</string>
		<key>past</key>
		<string>bid</string>
		<key>participle</key>
		<string>bid</string>
		<key>translation</key>
		<string>pujar</string>
	</dict>
	<dict>
		<key>simple</key>
		<string>bid</string>
		<key>past</key>
		<string>bid</string>
		<key>participle</key>
		<string>bid</string>
		<key>translation</key>
		<string>pujar</string>
	</dict>
	<dict>
		<key>simple</key>
		<string>bid</string>
		<key>past</key>
		<string>bid</string>
		<key>participle</key>
		<string>bid</string>
		<key>translation</key>
		<string>pujar</string>
	</dict>
	<dict>
		<key>simple</key>
		<string>bid</string>
		<key>past</key>
		<string>bid</string>
		<key>participle</key>
		<string>bid</string>
		<key>translation</key>
		<string>pujar</string>
	</dict>
	<dict>
		<key>simple</key>
		<string>bid</string>
		<key>past</key>
		<string>bid</string>
		<key>participle</key>
		<string>bid</string>
		<key>translation</key>
		<string>pujar</string>
	</dict>
	<dict>
		<key>simple</key>
		<string>bid</string>
		<key>past</key>
		<string>bid</string>
		<key>participle</key>
		<string>bid</string>
		<key>translation</key>
		<string>pujar</string>
	</dict>
	<dict>
		<key>simple</key>
		<string>bid</string>
		<key>past</key>
		<string>bid</string>
		<key>participle</key>
		<string>bid</string>
		<key>translation</key>
		<string>pujar</string>
	</dict>
	<dict>
		<key>simple</key>
		<string>bid</string>
		<key>past</key>
		<string>bid</string>
		<key>participle</key>
		<string>bid</string>
		<key>translation</key>
		<string>pujar</string>
	</dict>
	<dict>
		<key>simple</key>
		<string>bid</string>
		<key>past</key>
		<string>bid</string>
		<key>participle</key>
		<string>bid</string>
		<key>translation</key>
		<string>pujar</string>
	</dict>
	<dict>
		<key>simple</key>
		<string>bid</string>
		<key>past</key>
		<string>bid</string>
		<key>participle</key>
		<string>bid</string>
		<key>translation</key>
		<string>pujar</string>
	</dict>
	<dict>
		<key>simple</key>
		<string>bid</string>
		<key>past</key>
		<string>bid</string>
		<key>participle</key>
		<string>bid</string>
		<key>translation</key>
		<string>pujar</string>
	</dict>
</array>
</plist>
